<!doctype html>
<html ng-app="umrynFmApp" ng-controller="umrynFmCtrl" lang="en">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
  <link href="vendor/fontello-entypo/css/fontello-entypo-v2.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.9.0/rzslider.min.css" rel="stylesheet">
  <link href="styles/main.css" rel="stylesheet">
  <title>UmrynFM {{ nowPlaying }}</title>
</head>
<body>

<main>
  <div id="details">
    <div id="title"><a href="{{ currentTrack.permalink_url }}">{{ currentTrack.title }}</a></div>
    <div id="user"><a href="{{ currentTrack.user.permalink_url }}">{{ currentTrack.user.username }}</a></div>
  </div>

  <div id="controls">
    <ul>
      <li><button ng-click="togglePlay()"><i ng-class="{'icon-play': !isPlaying(), 'icon-pause': isPlaying()}"></i></button></li>
      <li><button ng-click="nextTrack()"><i class="icon-to-end"></i></button></li>
      <li><button ng-click="toggleLoop()" ng-class="{'enabled': loop}"><i class="icon-arrows-ccw"></i></button></li>
    </ul>
  </div>

  <div style="max-width: 500px">
    <rzslider rz-slider-model="volume" rz-slider-options="{floor: 0, ceil: 100, hideLimitLabels: true}"></rzslider>
  </div>
</main>

<div id="history">
  <h1 class="small-caps montserrat">History</h1>
  <div class="history-item" ng-repeat="track in history">
    <img class="history-artwork" ng-src="{{ track.artwork_url | artworkSmall }}" src="" alt="">
    <div class="history-item-title">
      <a href="{{ track.permalink_url }}">{{ track.title }}</a>
    </div>
    <div class="history-item-user">
      <a href="{{ track.user.permalink_url }}">{{ track.user.username }}</a>
    </div>
  </div>
</div>

<div id="background">
  <div id="background-image" ng-style="{'background-image': 'url(' + (currentTrack.artwork_url | artworkHuge) + ')'}"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.9.0/rzslider.min.js"></script>
<script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
<script src="app/umryn-fm-app.js"></script>

</body>
</html>
